.kitties-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kitti {
  width: 260px;
  margin-bottom: 30px;
  padding: 10px 20px;
  opacity: 0;
  -webkit-animation: kittiAnimation 0.4s ease-in-out forwards;
          animation: kittiAnimation 0.4s ease-in-out forwards;
}

.kitti-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kitti-card__price span {
  padding: 5px 15px;
  background-color: beige;
  border-radius: 10px;
}

.kitti-card__name {
  text-transform: uppercase;
}

.kitti-card {
  background-color: bisque;
  text-align: center;
  border-radius: 20px;
  padding-top: 30px;
}

.kitti-card__name {
  padding-bottom: 20px;
}

.kitti__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.kitti-info__id {
  padding-right: 30px;
  border-right: 2px solid black;
}

.kitti-info__category {
  margin-left: 30px;
}

.loader {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.hidden {
  display: none;
}

@-webkit-keyframes kittiAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kittiAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
